To run the application:
* Install node.js: https://nodejs.org/en/learn/getting-started/how-to-install-nodejs
* Install npm https://docs.npmjs.com/downloading-and-installing-node-js-and-npm 
* From the command line, run “npm install” from the Prototype subfolder to install all necessary dependencies.
* After installing all necessary components, run “node app.js” to start the server.
* Lastly, go to a web browser and go to: “localhost:8000” from the address bar.


Accounts to sign in:
* Teacher Role:
Email: jcbucur@uncg.edu
Password: 1
* Moderator Role:
Email: Sdduartegua@uncg.edu
Password: 1
* Student Role: 
Email: olgakkseniga@uncg.edu
Password: 1
* Sign Up with your own UNCG email
When viewing the login screen click the sign up link that will bring you to the sign up page. Fill out the necessary information and submit. Once you have done that you will receive a verification email with a link that will need to be clicked in order to be verified in the database (link may be in spam folder). If you are signing up as a teacher you must be in the teacher table in the database.
Viewing the database:
* The database can be viewed by using an application that is based on sqlite, for example Db browser for sqlite or any other similar application. Then you simply open the ‘database.db’ file that is located in the prototypes directory. There you can view all of the data and tables.