<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/spartanIcon.png">
  <link rel="stylesheet" type="text/css" href="/public/feed.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/public/home.css">
  <title>Home</title>
</head>
<body>
  <header>
    <%- include('partials/navbar') %>
  </header>
  <div class="split" style="display: flex; justify-content: space-between;">
    <div class="left-column">
      <h1 class="grows header-grow">Welcome to Spartan Aid</h1>
      <p class="grows">Find the best tutors and students to help you with your academic needs</p>
    </div>
    <div class="right-column">
      <img src="/images/test.jpeg" alt="home" class="home-image" width="555">
    </div>
  </div>
  <br>
  <h1 class="subHeader" style="margin-right: 11%; margin-left: 11%;">Achieve Greatness at Your Finger Tips</h1>
  <br>
  <div style="margin-left: 15%; margin-right: 15%; margin-bottom: 50px;">
    <div class="image-grid">
      <div class="image-container" id="container1">
        <img src="/images/community.jpg" alt="Image 1" class="grid-image">
        <div class="overlay active">
          <h2>Get Help When Needed</h2>
          
        </div>
      </div>
      <div class="image-container" id="container2">
        <img src="/images/help.png" alt="Image 2" class="grid-image">
        <div class="overlay">
          <h2>Join the Community</h2>
        </div>
      </div>
      <div class="image-container" id="container3">
        <img src="/images/graduate.jpg" alt="Image 3" class="grid-image">
        <div class="overlay active">
          <h2>Earn Better Grades</h2>
        </div>
      </div>
      <div class="image-container" id="container4">
        <img src="/images/grades.jpg" alt="Image 4" class="grows grid-image">
        <div class="overlay">
          <h2>Graduate with Success</h2>
        </div>
      </div>
    </div>
  </div>
  <style>
    .left-column h1 {
      font-size: 80px;
      /* margin-top: 50px; */
    }
    .left-column p {
     color: #fac104;
    }
    .split {
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
    }
    .left-column {
      width: 67%;
      background-color: #16316b;
      border: 4px solid #fac104;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .right-column {
      width: 33%;
    }
    .image-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
        "container1 container2"
        "container4 container3";
      gap: 0;
      margin-top: 20px;
      justify-content: center;
    }
    .image-container { position: relative; width: 100%; height: 300px; overflow: hidden; }
    .grid-image { width: 100%; height: 100%; object-fit: cover; transition: filter 0.3s ease; }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(22, 49, 107, 0.8);
      color: #fac104;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    .overlay.active { opacity: 1; }

      #container1:hover ~ #container2 .overlay {
        opacity: 1; /* Show overlay for image 2 when hovering over image 1 */
      }

      #container3:hover ~ #container4 .overlay {
        opacity: 1; /* Show overlay for image 3 when hovering over image 4 */
      }
    .image-container:hover .overlay { opacity: 0; }
    #container1 { grid-area: container1; }
    #container2 { grid-area: container2; }
    #container3 { grid-area: container3; }
    #container4 { grid-area: container4; }

    .header-grow {
      display: inline-block;
      transform: scale(0);
      transition: transform 1s ease-in-out;
    }

    .header-grow-loaded {
      transform: scale(1);
    }

  </style>
  <script>
    window.onload = function() {
      var header = document.querySelector('.header-grow');
      header.classList.add('header-grow-loaded');
    };
  </script>  
</body>
</html>
