<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/CSC490-CAPSTONE/Prototype/public/modHome.css" >
    <title>Home</title>
</head>
<body>
    <header>
        <%- include('partials/navbar') %>
    </header>

    <nav>
        <ul class="topBar">
            <li><a href="#"><h2>Spartan Aid</h2></a></li>
            <li><a href="#"><h2>Messages</h2></a></li>
            <li><a href="#"><h2>Account</h2></a></li>
            <li><a href="modUsers.html"><h2>Users</h2></a></li>
            <li><a href="modPosts.html"><h2>Posts</h2></a></li>
            <li><a href="modTutor.html"><h2>Tutors</h2></a></li>
            <li><a href="#"><h2>Logout</h2></a></li>
        </ul>
    </nav>
    <ul class="DMs">
        <h2>Messages</h2>
        <li>
            <img src="/CSC490-CAPSTONE/Prototype/images/blank-pf.png" alt="profile-pic">
            <a href="#">UserName</a>
            <p> # of new notifications</p>

        </li>
        <li>
            <img src="/CSC490-CAPSTONE/Prototype/images/blank-pf.png" alt="profile-pic">
            <a href="#">UserName</a>
            <p> # of new notifications</p>

        </li>
        <li>
            <img src="/CSC490-CAPSTONE/Prototype/images/blank-pf.png" alt="profile-pic">
            <a href="#">UserName</a>
            <p> # of new notifications</p>

        </li>
    </ul>
    <div class="pageContent">
        <h1>Spartan Aid</h1>
        <p>
            Welcome to Spartan Aid. <br>
            Please pick a subject you need help with.
        </p>
    </div>

</body>


</html>