<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="mod.css" >
    <title>Tutors</title>
</head>
<body>
    <nav>
        <ul class="subjects">
            <li> <h2> Subjects</h2></li>
            <li><a class="subjectLink" href=" #">ARS </a></li>
            <li><a class="subjectLink" href="#">ACC </a></li>
            <li><a class="subjectLink" href="#"> IAA</a></li>
            <li><a class="subjectLink" href="#"> ADS</a></li>
            <li><a class="subjectLink" href="#"> ASL</a></li>
            <li><a class="subjectLink" href="#"> ATY</a></li>
            <li><a class="subjectLink" href="#"> APD</a></li>
            <li><a class="subjectLink" href="#"> ARB</a></li>
            <li><a class="subjectLink" href="#"> ARC </a></li>
            <li><a class="subjectLink" href="#"> ART </a></li>
            <li><a class="subjectLink" href="#"> ARE </a></li>
            <li><a class="subjectLink" href="#"> ARH </a></li>
            <li><a class="subjectLink" href="#"> AAD </a></li>
            <li><a class="subjectLink" href="#"> AST </a></li>
            <li><a class="subjectLink" href="#"> IAB </a></li>
            <li><a class="subjectLink" href="#"> BIO </a></li>
            <li><a class="subjectLink" href="#"> BUS </a></li>
            <li><a class="subjectLink" href="#"> CHE </a></li>
            <li><a class="subjectLink" href="#"> CHI </a></li>
            <li><a class="subjectLink" href="#"> CCI </a></li>
            <li><a class="subjectLink" href="#"> CSD </a></li>
            <li><a class="subjectLink" href="#"> CST </a></li>
            <li><a class="subjectLink" href="#"> CTR </a></li>
            <li><a class="subjectLink" href="#"> CTP </a></li>
            <li><a class="subjectLink" href="#"> IAC </a></li>
            <li><a class="subjectLink" href="#"> CSC </a></li>
            <li><a class="subjectLink" href="#"> CNS </a></li>
            <li><a class="subjectLink" href="#"> CRS </a></li>
            <li><a class="subjectLink" href="#"> CED </a></li>

        </ul>
    </nav>

    <nav>
        <ul class="topBar">
            <li><a href="#"><h2>Spartan Aid</h2></a></li>
            <li><a href="#"><h2>Messages</h2></a></li>
            <li><a href="#"><h2>Account</h2></a></li>
            <li><a href="modUsers.html"><h2>Users</h2></a></li>
            <li><a href="modPosts.html"><h2>Posts</h2></a></li>
            <li><a href="modTutor.html"><h2>Tutors</h2></a></li>
            <li><a href="#"><h2>Logout</h2></a></li>
        </ul>
    </nav>
    <ul class="tutorList">
        <li><h2>Tutor Applications</h2></li>
        <li>
            <div class="tutorApp">
                <a href="#"> UserName </a>
                <p>Application text given by </p>
                <p>Reason for Flag</p>
                <button class="unflagUser">Delete</button>
                <button class="deleteUser">Unflag</button>
                <button class="flagUser">Flag User</button>
            </div>
        </li>
        <li>
            <div class="flaggedUser">
                <a href="#"> Post Topic </a>
                <p>Post Content</p>
                <p>Reason for Flag</p>
                <button class="deletePost">Delete</button>
                <button class="unflagPost">Unflag</button>
                <button class="flagUser">Flag User</button>
            </div>
        </li>
        <li>
            <div class="flaggedUser">
                <a href="#"> Post Topic </a>
                <p>Post Content</p>
                <p>Reason for Flag</p>
                <button class="deletePost">Delete</button>
                <button class="unflagPost">Unflag</button>
                <button class="flagUser">Flag User</button>
            </div>
        </li>
    </ul>
</body>
</html>