<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Sign up</title>
    <style>
        body {
            font-family: "Times New Roman", Times, serif;
        }
    </style>
</head>

<body>
    <!-- Page Filler -->
    <div class=" split filler-signup">
        <video src="https://static.uncg.edu/web-assets/homepage-assets/sept_oct_2024_web_topper.mp4" autoplay muted loop></video>
    </div>

    <!-- signup Form -->
    <div class="split signup-info">

        <div class="login-content">
            <div class="titleBtn">
                <h1 class="login-title">Sign Up</h1>
                <button class="backBtn" onclick="window.location.href='/'">Back</button>
            </div>

                <img class="spartan" src="../images/Spartan.png" alt="Spartan">
                <p style="font-weight: bold;">Enter sign up information below:</p>

                <form action="/signupinfo" method="post" onsubmit="return emailValidation()">
                    <div class="login-form">
                        <!-- email -->
                        <div class="email">
                            <label for="email">Email</label><br>
                            <input type="text" id="email" name="email" placeholder="Enter the email" required><br>
                        </div>
                        <!-- password -->
                        <div class="password">
                            <label for="password">Password</label><br>
                            <input type="password" id="password" name="password" placeholder="Enter the password"
                                required><br><br>
                        </div>
                        <!-- First Name -->
                        <div class="fname">
                            <label for="fname">First Name</label><br>
                            <input type="text" id="fname" name="fname" placeholder="Enter first name" required><br><br>
                        </div>
                        <!-- Last Name -->
                        <div class="lname">
                            <label for="lname">Last Name</label><br>
                            <input type="text" id="lname" name="lname" placeholder="Enter last name" required><br><br>
                        </div>
                        <!-- Role -->
                        <div class="role">
                            <label for="role">Role</label><br>
                            <select id="role" name="role" required>
                                <option value="student">student</option>
                                <option value="teacher">teacher</option>
                            </select><br><br>
                        </div>
                        <button class="login-button" type="submit">Sign up</button>
                </form>


                <script>
                    function emailValidation() {
                        const email = document.getElementById('email').value;
                        const domain = '@uncg.edu';
                        if (!email.endsWith(domain)) {
                            alert('Email must end with @uncg.edu');
                            return false;
                        }
                        return true;
                    }
                </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>