<nav>
    <ul class="subjects">
        <li> <h2> Subjects</h2></li>
    <% subjects.forEach(function(subject) { %>
            <li><a class="subjectLink" href="/category/<%= subject.catId %>"><%= subject.catAbbr %></a></li>
            
    <% }); %>
    </ul>
</nav>

<nav style="position: fixed; top: 0; width: 100%; z-index: 1000;">
    <ul class="topBar flex-container">

        <% if (role === 'moderator') { %>
            <li><img src="/images/Spartan.png" alt="spartan" class="spartan-image" width="150"></li>
            <li><a href="/modHome"><h2>Spartan Aid</h2></a></li>
            <li><a href="/modMessages"><h2>Messages</h2></a></li>
            <li><a href="/account"><h2>Account</h2></a></li>
            <li><a href="modUsers.html"><h2>Users</h2></a></li>
            <li><a href="modPosts.html"><h2>Posts</h2></a></li>
            <li><a href="modTutor.html"><h2>Tutors</h2></a></li>
            <li><a href="/logout"><h2>Logout</h2></a></li>
        <% } else if (role === 'student') { %>
            <li><img src="/images/Spartan.png" alt="spartan" class="spartan-image" width="150"></li>
            <li><a href="/home"><h2>Spartan Aid</h2></a></li>
            <li><a href="#"><h2>Messages</h2></a></li>
            <li><a href="/account"><h2>Account</h2></a></li>
            <li><a href="/logout"><h2>Logout</h2></a></li>
        <% } else if (role === 'tutor') { %>
            <li><img src="/images/Spartan.png" alt="spartan" class="spartan-image" width="150"></li>
            <li><a href="/home"><h2>Spartan Aid</h2></a></li>
            <li><a href="#"><h2>Messages</h2></a></li>
            <li><a href="/account"><h2>Account</h2></a></li>
            <li><a href="/logout"><h2>Logout</h2></a></li>
        <% } else if (role === 'teacher') { %>
            <li><img src="/images/Spartan.png" alt="spartan" class="spartan-image" width="150"></li>
            <li><a href="/home"><h2>Spartan Aid</h2></a></li>
            <li><a href="#"><h2>Messages</h2></a></li>
            <li><a href="#"><h2>Study Resources</h2></a></li>
            <li><a href="/account"><h2>Account</h2></a></li>
            <li><a href="/logout"><h2>Logout</h2></a></li>
        <% } %>
    
    </ul>
</nav>
<br>
<br>
<br>
<br>
