.columns {
    display: flex;
    justify-content: space-between;
}

a:link {
    color: #1ac5d1;
    text-decoration: none;
}

#categories, #feed, #private-messages {
    flex: 1;
    margin: 0 10px;
}

#feed {
    flex: 2;
}