img {
   cursor: pointer; 
}

.columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-inline-start: 12%;
}

#account {
    align-items: center;
    text-align: center;
    margin: 0 auto; 
}

#header {
    text-align: center;
    background-color: rgb(219, 128, 8);
    
    
}

#reviews h1 {
    background-color: rgb(219, 128, 8);
}

#userProfile {
    padding: 5px;
    border: 2px solid rgb(121, 118, 118);
    border-radius: 10px;
}