#chartContainer {
    height: 400px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.analytics-title {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.analytics-posts {
    width: 50%; 
    position: relative; 
    right: 25%;  
    margin-left: auto; 
}

.filterBtn {
    background-color: transparent;
    border-color: black;
    border-radius: 10px;
}

.analytics-table thead th {
    background-color: #16316b;
    color: white;
    text-align: center; 
}

.analytics-table thead {
    border-radius: 20px;
}

.analyticsBtns {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    color: white;
}

.stats-leaderboard {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 32px;
}

.stats-card {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 32px;
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
}

.table-container::-webkit-scrollbar{
    display: none;
}

th, td {
    border: 2px solid black;
  }

tr:hover {
    background-color: #fac104;
}