/* a:link {
    color: #1ac5d1;
    text-decoration: none;
} */

/* body {
    margin: 0;
    padding: 0;
} */

/* header {
    height: 120px; 
    margin-bottom: 20px;
} */

/* main {
    margin-top: 60px;
} */

.mainPage {
    display: flex;
    justify-content: space-between;
    margin-inline-start: 12%;
    margin-left: 0px;
    padding: 0;
}
.user-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

#feed, #private-messages {
    flex: 1;
    
    /* margin-inline-start: 12%; */
}

#feed {
    flex: 2;
    margin-left: 100px;
    margin-right: 100px; /* editted this last */
    padding: 20px;
    /* height: 1000px; Set a fixed height for the feed */
    
    overflow-y: auto; /* Enable vertical scrolling */
}

#feed::-webkit-scrollbar,
#private-messages::-webkit-scrollbar{
    display: none;
}



#private-messages {
    aspect-ratio: 16/9;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
     margin-right: 20px;
    height: 1500px; /* Set a fixed height for private messages */
    overflow-y: auto;
    padding: 20px;
}

.users div {
    aspect-ratio: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 80px;
}

#feed-content {
    aspect-ratio: 16/9;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/* .grows {
    aspect-ratio: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 320px;
} */

#postBox {
    aspect-ratio: 7/3;
    width: 100%;
    height: auto;
    background: rgb(255, 251, 215);
    border-radius: 19px;
    border: 3px rgb(0, 0, 0) solid;
}

/* .users div, #feed-content div {
    aspect-ratio: auto;
    width: 100%;
    height: auto;
} */

/* @media screen and (max-width: 1500px) {
   body {
    scale: 0.5;
    margin: 0;
   }
    
} */


#comments {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feed-header, #pm-header {
   /* display: inline-flex; */
   align-items: center;
   background: #16316b;
   border: 3px solid #fac104;
   border-radius: 30px;
   color: white;
   padding: 10px 20px;
   margin-bottom: 40px;
}

.users {
    border-left: 12px solid #0f2044; 
    border-bottom: 12px solid #0f2044; 
    border-radius: 10px;
    box-shadow: 
        inset 2px 0 0 #fac104, 
        0 2px 0 #fac104;   
}