body {
    margin:0;
}

h1{
    text-align: center;
    font-size: 45px;

}

.subjects{
    list-style-type: none;
    padding: 0;
    margin:0;
    height:100%;
    width: 10%;
    position: fixed;
    overflow: auto;
    text-align: center;
    background-color: purple;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.subjects::-webkit-scrollbar{
    display: none;
}

h2{
    text-align: center;
    font-size: 20 px;
}

.subjects li a{
    display: block;
    padding: 0px;
    margin: 5px;
    overflow: auto;
    text-decoration: none;
    color:black;
    font-size: 20pt;
    background-color:rgb(164, 6, 164);
}
.flaggedUserList, .flaggedPostList, .tutorList{
    list-style: none;
    margin: 0;
    margin-left: 10%;
    padding: 16px;
    padding-top: 75px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.flaggedUser, .flaggedPost, .tutorApp{
    border: solid 2px black;
    padding:10px;
    margin-top: 20px;
}
.flaggedUser a, .flaggedPost a, .tutorApp a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bolder;
}
.flaggedUser button, .flaggedPost button, .tutorApp button{
    float: right;
    background-color: white;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    padding: 3px;
}