body {
    margin:0;
    padding:0;
    border: 0;
}

h1{
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
}

h2{
    text-align: center;
    font-size: 20 px;
}

header {
    height: 120px; 
    margin-bottom: 20px;
    background-color: #07394b;
    background-size: contain;
}

p{
    clear: both;
}

.subjects{
    list-style-type: none;
    padding: 0;
    margin:0;
    height:100%;
    overflow: auto;
    text-align: center;
    background-color: purple;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.subjects::-webkit-scrollbar{
    display: none;
}

.topBar{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin:0;
    height: 9%;
    width: 90%;
    position: fixed;
    align-items: baseline;
    text-align: center;
    right: 0;
    background-color:purple;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.topBar li a{
    text-decoration: none;
    color: black;
    
}

.DMs{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height:100%;
    width: 25%;
    position: fixed;
    overflow:auto;
    text-align: center;
    right:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.subjects li a{
    display: block;
    padding: 0px;
    margin: 5px;
    overflow: auto;
    text-decoration: none;
    color:black;
    font-size: 20pt;
    background-color:rgb(164, 6, 164);
}

.DMs li{
    display: flex;
    border-style: solid;
    padding: 10px;
    margin: 5px;
    overflow: auto;
    text-decoration: none;
    color:black;
    font-size: 20pt;
    align-items: center;
    justify-content: space-between;
}
.notifications img{
    max-width: 50px;
    border-radius: 100px;
}

.DMs li p, .DMs li a{
    font-size: 20px;
    text-decoration: none;
    color:black;
}

.modPageContent{
    padding: 16px;
    margin-left: 20%;
    margin-right: 20%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.columns {
    display: flex;
    justify-content: space-between;
    margin-inline-start: 12%;
}

.messages {
    display: block;
    margin-bottom: 60px;
    padding-bottom: 60px;
    overflow-y: auto;
    max-height: 580px;
  }

  .messages::-webkit-scrollbar {
    display: none;
}
  
  

.incoming {
    background-color: rgb(34, 52, 193);
    background-size:cover;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 16pt;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 50px;
    float: right;
    text-align: right;
    border: 2px solid black;
    max-width: 80%;
    word-wrap: break-word;
}

.outgoing {
    background-color: rgb(146, 146, 146);
    background-size:cover;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 16pt;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 50px;
    float: left;
    text-align: left;
    border: 2px solid black;
    max-width: 80%;
    word-wrap: break-word;
}

.messageContainer{
    position: fixed;
    bottom: 0;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content:baseline;
    padding: 10px;
    /* background-color: blue; */
    z-index: 1;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 10px;
}

.messageSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    width: 92%;
    flex-shrink: 1;
}

.formContainer{
    z-index: 99999; 
}


.messageBox{
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    flex-shrink: 1;
}

.sendBtn{
    width: 12%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    cursor: pointer;
    flex-shrink: 0;
}

.calendarBtn, .reviewBtn, .callBtn{
    padding: 10px;
    background-color: rgb(205, 204, 204);
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10pt;
    flex-shrink: 0;
}

.calendarEvent {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
}
