body {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: grey;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.review {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height: 100vh;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.header {
    background-color: #16316b;
    border-radius: 20px 20px 0 0;
    border: 3px solid #fac104;
}

.content {
    background-color: white;
    color: black;
    height: auto;
    margin: 0;
    flex-grow: 1;
}

.footer {
    background-color: #16316b;
    border-radius: 0 0 20px 20px;
    border: 3px solid #fac104;
}


form {
    padding-top: 16px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 36px;
    margin-bottom: 36px;
    gap: 16px;
}

.review-desc {
    width: 700px;
    height: 400px;
}

input, select, textarea {
    border: 3px solid black;  /* Darker and thicker border for all form elements */
    border-radius: 5px;       /* Slight rounding for consistency */
    padding: 8px;             /* Consistent padding for all input fields */
}

#courseId, #subject {
    border: 3px solid black;  /* Ensure courseId and subject match the rest */
    border-radius: 5px;
}
